<div id="footer">
  <footer class="text-center text-white" style="background-color: #f1f1f1;">
    <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      <p>@Html.ActionLink("All Recipes", "Index", "Home") | @Html.ActionLink("My Recipes", "Index", "Recipes") | @Html.ActionLink("Account / Login", "Index", "Account") | @Html.ActionLink("Highest Rated Recipes", "DisplayRating", "Home")</p>
    </div>
  </footer>
</div>