@{
  Layout = "_Layout";
}

@model RecipeBox.Models.Tag

<h2>Tags</h2>
<hr />
<h3>@Html.DisplayFor(model => model.TagName)</h3>

@if(@Model.JoinEntities.Count == 0)
{
  <p>This tag is not associated with any recipes</p>
}
else
{
  <h4>Recipes the tag is associated with:</h4>
  <ul>
  @foreach(var join in Model.JoinEntities)
  {
    <li>@join.Recipe.RecipeName</li>
  }
  </ul>
}


<p>@Html.ActionLink("Edit Tag", "Edit", new { id = Model.TagId }) | @Html.ActionLink("Delete Tag", "Delete", new { id = Model.TagId })</p>